# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""

# CONTACTS
NEXT_PUBLIC_CONTACT_WHATS_APP_NUMBER=""
NEXT_PUBLIC_CONTACT_EMAIL=""

# GOOGLE OAUTH CREDENTIALS
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# GOOGLE ADSENSE
NEXT_PUBLIC_GOOGLE_ADSENSE_ACCOUNT_METATAG=""

# GOOGLE ANALITICS
NEXT_PUBLIC_GOOGLE_ANALITICS_ID=""

# NEXT AUTH SECRET
AUTH_SECRET=""

#backend
NEXT_PUBLIC_BACKEND_URL=""

# ADSTERRA
NEXT_PUBLIC_ADSTERRA_BASE_LINK=""

NEXT_PUBLIC_ADSTERRA_SMALL_BANNER_ID=""
NEXT_PUBLIC_ADSTERRA_MEDIUM_BANNER_ID=""
NEXT_PUBLIC_ADSTERRA_BIG_BANNER_ID=""

NEXT_PUBLIC_ADSTERRA_NATIVE_BANNER_ID=""
NEXT_PUBLIC_ADSTERRA_NATIVE_BANNER_SUBDOMAIN=""